<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://anime-stream.local/tizen"
        version="1.0.0"
        viewmodes="maximized">
    <tizen:application id="AnimShN1.AnimeStream" package="AnimShN1" required_version="6.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <icon src="icon.png"/>
    <name>Anime Stream</name>
    <description>Assista animes via servidor Anime Stream</description>
    <author href="https://github.com/alvarorichard/GoAnime" email="local@anime-stream">Neomaster</author>
    <license href="https://opensource.org/licenses/MIT">MIT</license>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape"
                   context-menu="disable"
                   background-support="disable"
                   encryption="disable"
                   install-location="auto"
                   hwkey-event="enable"/>
</widget>